<div class="role">
  <div class="role-left role-container">
    <app-role-show [roleList]="roleListArray[0]"></app-role-show>
    <app-role-show [roleList]="roleListArray[1]"></app-role-show>
  </div>
  <div class="role-mid role-container">
    <img src="http://deothemes.com/envato/emaus/emaus_html/img/hero/iphone_app.png" alt="">
  </div>
  <div class="role-right role-container">
    <app-role-show [roleList]="roleListArray[2]"></app-role-show>
    <app-role-show [roleList]="roleListArray[3]"></app-role-show>
  </div>
</div>
