<app-two-col-layout>
  <img src="http://deothemes.com/envato/emaus/emaus_html/img/promo/1.jpg" alt="" class="left-content">
  <app-promo-content class="right-content">
    <div class="h2-content">Intuitive interface for collaboration</div>
    <div class="p-content">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore</div>
  </app-promo-content>
</app-two-col-layout>
