<div class="promo">
  <div class="promo-left promo-container">
    <h2>Intuitive interface for collaboration</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore</p>
    <a href="#">Download app</a>
  </div>
  <img src="http://deothemes.com/envato/emaus/emaus_html/img/promo/3.jpg" alt="" class="promo-container">
</div>
