<app-two-col-layout>
  <img src="http://deothemes.com/envato/emaus/emaus_html/img/promo/2.jpg" alt="" class="right-content">
  <app-promo-content class="left-content">
    <div class="h2-content">Operate the software in real time from any device</div>
    <div class="p-content">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore</div>
  </app-promo-content>
</app-two-col-layout>
