<div class="section-feature">
  <app-feature>
    <i class="feature-icon iconfont">&#xe61f;</i>
    <div class="h3-content">Well Documented</div>
    <div class="p-content">Our Theme is a very slick and clean e-commerce template with endless possibilities. Creating an awesome website with this Theme. Our Theme is a very slick and clean e-commerce template with endless possibilities. Creating an awesome website with this Theme.</div>
  </app-feature>
  <app-feature>
    <i class="feature-icon iconfont">&#xe614;</i>
    <div class="h3-content">Tracking Sales</div>
    <div class="p-content">Our Theme is a very slick and clean e-commerce template with endless possibilities. Creating an awesome website with this Theme. Our Theme is a very slick and clean e-commerce template with endless possibilities. Creating an awesome website with this Theme.</div>
  </app-feature>
</div>
