<section class="bottom-divider">
  <app-mobile-hero></app-mobile-hero>
</section>
<section class="bottom-divider">
  <app-promo-section></app-promo-section>
</section>
<section class="bottom-divider">
  <app-mobile-vedio></app-mobile-vedio>
</section>
<section class="bottom-divider">
  <app-mobile-role></app-mobile-role>
</section>
<section class="bottom-divider">
  <app-mobile-card></app-mobile-card>
</section>
<section class="bottom-divider">
  <app-mobile-store></app-mobile-store>
</section>
