<section class="bottom-divider">
  <app-ebook-hero></app-ebook-hero>
</section>
<section class="bottom-divider">
  <app-ebook-learn></app-ebook-learn>
</section>
<section class="bottom-divider">
  <app-free-ebook></app-free-ebook>
</section>
<section class="bottom-divider">
  <app-ebook-promo></app-ebook-promo>
</section>
<section class="bottom-divider">
  <app-partners></app-partners>
</section>
<section class="bottom-divider">
  <app-ebook-question></app-ebook-question>
</section>
<section>
  <div class="download-container">
    <app-get-book></app-get-book>
  </div>
</section>
