#header {
  /*position: absolute;*/
  z-index: 999;
  width: 100%;
}
#header-active {
  background-color: #fefefe;
  color: #333;
}
#main {
  background-color: #333;
  height: 1000px;
}
.footer {
  padding: 0 10%;
}
