<div class="promo-container">
  <div class="promo-text promo-content">
    <h2>About Michael Angelo</h2>
    <p>An idea that takes the parts of a structure and turns them into a whole system. Practice is the frequent and continued contemplation of the mode of executing any given work, or of the mere operation of the hands.</p>
    <p>Prior to that, during his 12 years of struggle, he vowed that should he ever get rich, he would help others do the same.</p>
    <p>Don’t put stress on yourself. Whatever you’ve got going, keep it going. Don’t quit your day job until you are financially free enough to do so.</p>
    <img src="http://deothemes.com/envato/emaus/emaus_html/img/promo/signature.png" alt="">
  </div>
  <div class="promo-img promo-content">
    <img src="http://deothemes.com/envato/emaus/emaus_html/img/promo/author.jpg" alt="">
  </div>
</div>
