/* You can add global styles to this file, and also import other style files */
html, body, ul, li, p, dl, dt, dd, h1, h2, h3, h4, h5 {
  padding: 0;
  margin: 0;
}
body {
  font-family: "Open Sans", sans-serif;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
  outline: none;
}
h2 {
  font-family: "Lato", sans-serif;
  font-weight: 300;
  color: #3e4045;
  letter-spacing: -1px;
  font-size: 25px;
}
h3 {
  font-family: "Lato", sans-serif;
  margin-top: 0;
  margin-bottom: 10px;
  color: #3e4045;
  font-weight: 300;
  line-height: 1.3;
}
@font-face {
  font-family: 'iconfont';  /* project id 960061 */
  src: url('http://at.alicdn.com/t/font_960061_xtzef3nlw6e.eot');
  src: url('http://at.alicdn.com/t/font_960061_xtzef3nlw6e.eot?#iefix') format('embedded-opentype'),
  url('http://at.alicdn.com/t/font_960061_xtzef3nlw6e.woff') format('woff'),
  url('http://at.alicdn.com/t/font_960061_xtzef3nlw6e.ttf') format('truetype'),
  url('http://at.alicdn.com/t/font_960061_xtzef3nlw6e.svg#iconfont') format('svg');
}
.iconfont {
  font-family: iconfont !important;
  font-style: normal;
}
::selection {
  color: #fff;
  background-color: #fa9529;
}
.bottom-divider {
  border-bottom: 1px solid #e7eaf0;
}
input {
  outline: none;
}
