.mobile-hero {
  text-align: center;
  box-sizing: border-box;
  padding: 100px 10%;
  background-image: linear-gradient(to top, rgb(134, 85, 224) 0%, rgb(63, 72, 196) 100%);
}
img {

}
.hero-content {
  display: inline-block;
  width: 50%;
  box-sizing: border-box;
  vertical-align: middle;
  padding: 0 5%;
}
.hero-right {
  color: #fff;
}
.hero-right h1 {
  margin-bottom:20px;
}
.hero-right p {
  margin-bottom: 20px;
  font-size: 20px;
}
.hero-right a {
  line-height: 30px;
  font-weight: 300;
  color: #fff;
  display: inline-block;
  padding: 10px 10px;
  box-sizing: border-box;
  background-color: #fa9529;
  border-radius: 30px;
}
.hero-right a:first-of-type {
  background-color: transparent;
  border: 1px solid #fff;
  margin-right: 10px;
}
