<div class="mobile-hero">
  <img src="http://deothemes.com/envato/emaus/emaus_html/img/hero/iphone_app.png" alt="mobile-hero" class="hero-container">
  <div class="hero-right hero-container">
    <h1>Build the amazing app that everyone will love</h1>
    <p>An idea that takes the parts of a structure and turns whole system. Practice is the frequent and continued contemplation of the mode of executing any given work.</p>
    <a href="#">Learn More</a>
    <a href="#">DownLoad app</a>
  </div>
</div>
